#preload-01 { background-image: url('../img/miniature/WIB.png') no-repeat -9999px -9999px; }
#preload-02 { background-image: url('../img/miniature/DLO.png') no-repeat -9999px -9999px; }
#preload-03 { background-image: url('../img/miniature/Fòs é kouraj.png') no-repeat -9999px -9999px; }
#preload-04 { background-image: url('../img/miniature/Piétònn la (Philippe BLAZE).png') no-repeat -9999px -9999px; }
#preload-05 { background-image: url('../img/miniature/Sò a limanité.png') no-repeat -9999px -9999px; }
#preload-06 { background-image: url('../img/miniature/Sonjé BINO (Philippe BLAZE).png') no-repeat -9999px -9999px; }
#preload-07 { background-image: url('../img/miniature/LILY.png') no-repeat -9999px -9999px; }
#preload-08 { background-image: url('../img/miniature/Petite_Marie.png') no-repeat -9999px -9999px; }
#preload-09 { background-image: url('../img/miniature/Nou_mélé_Philippe_BLAZE.png') no-repeat -9999px -9999px; }
#preload-10 { background-image: url('../img/miniature/Chanson_Hommage_aux_Gwo_Mòdan.png') no-repeat -9999px -9999px; }
#preload-11 { background-image: url('../img/miniature/Philippe_BLAZE_piano_bar.png') no-repeat -9999px -9999px; }
#preload-12 { background-image: url('../img/miniature/Sèl_si_on_gran_chimen.png') no-repeat -9999px -9999px; }
#preload-13 { background-image: url('../img/miniature/Ekzòd.png') no-repeat -9999px -9999px; }
#preload-14 { background-image: url('../img/miniature/Avé Maria Antillais.png') no-repeat -9999px -9999px; }
#preload-15 { background-image: url('../img/miniature/Pénélope.png') no-repeat -9999px -9999px; }
#preload-16 { background-image: url('../img/miniature/Konjé bonifié.png') no-repeat -9999px -9999px; }

#preload-17 { background-image: url('../img/album cover/Mal_tèt.jpeg') no-repeat -9999px -9999px; }
#preload-18 { background-image: url('../img/album cover/Konsyans.jpg') no-repeat -9999px -9999px; }
#preload-19 { background-image: url('../img/album cover/Eritaj.jpg') no-repeat -9999px -9999px; }
#preload-20 { background-image: url('../img/album cover/Misiyon.jpg') no-repeat -9999px -9999px; }

.miniature {
  animation: changeMiniature linear 30s infinite;
  animation-delay: -2s;
  height: 40vh !important;
  width: 68vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
  background-image: url('../img/miniature/WIB.png');
}

@keyframes changeMiniature {
  0%,100%  {background-image: url('../img/miniature/WIB.png');}
  6.25% {background-image: url('../img/miniature/DLO.png');}
  12.5%  {background-image: url('../img/miniature/Fòs é kouraj.png');}
  18.75% {background-image: url('../img/miniature/Piétònn la (Philippe BLAZE).png');}
  25%  {background-image: url('../img/miniature/Sò a limanité.png');}
  31.25% {background-image: url('../img/miniature/Sonjé BINO (Philippe BLAZE).png');}
  37.5%  {background-image: url('../img/miniature/LILY.png');}
  43.75% {background-image: url('../img/miniature/Petite_Marie.png');}
  50%  {background-image: url('../img/miniature/Nou_mélé_Philippe_BLAZE.png');}
  56.25% {background-image: url('../img/miniature/Chanson_Hommage_aux_Gwo_Mòdan.png');}
  62.5%  {background-image: url('../img/miniature/Philippe_BLAZE_piano_bar.png');}
  68.75% {background-image: url('../img/miniature/Sèl_si_on_gran_chimen.png');}
  75%  {background-image: url('../img/miniature/Ekzòd.png');}
  81.25% {background-image: url('../img/miniature/Avé Maria Antillais.png');}
  87.5%  {background-image: url('../img/miniature/Pénélope.png');}
  93.75% {background-image: url('../img/miniature/Konjé bonifié.png');}
}

.albumCover {
  animation: changeAlbumCover 10s infinite;
  height: 40vh !important;
  width: 40vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
  background-image: url('../img/album cover/Mal_tèt.jpeg');
}

@keyframes changeAlbumCover {
  0%,100%  {background-image: url('../img/album cover/Mal_tèt.jpeg');}
  25%  {background-image: url('../img/album cover/Konsyans.jpg');}
  50%  {background-image: url('../img/album cover/Eritaj.jpg');}
  75%  {background-image: url('../img/album cover/Misiyon.jpg');}
}

.miniatureandcover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1558px)
{
  .miniature {
    height: 30vh !important;
    width: 50vh !important;
  }
  .albumCover {
    height: 30vh !important;
    width: 30vh !important;
  }
}

@media screen and (max-width: 1280px) and (orientation: portrait)
{
  .miniature {
    height: 37vw !important;
    width: 70vw !important;
  }
  .albumCover {
    height: 30vw !important;
    width: 30vw !important;
  }
  .typeOfContent {
    font-size: 35pt;
  }
  .presentationIndex {
    display: flex;
    flex-direction: column;
  }
}