.miniature {
  animation: changeMiniature linear 30s infinite;
  animation-delay: -2s;
  height: 40vh !important;
  width: 68vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
  background-image: url('');
}

.miniatureInv {
  height: 40vh !important;
  width: 68vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
}

.src {
  width: 160px !important;
  height: 160px;
  position: fixed;
  margin-top: calc((44vh - 160px) / 2);
  margin-left: calc((68vh - 160px) / 2);
}

#bodyIndex {
  height: 150vh;
}

#miniature {
  transition: background-image 1s ease-in-out;
}

#miniature.transition {
  background-image: url(images[currentImageIndex]);
}

#cover {
  transition: background-image 1s ease-in-out;
}

#cover.transition {
  background-image: url(images[currentImageIndex]);
}

.albumCover {
  animation: changeAlbumCover 15s infinite;
  height: 40vh !important;
  width: 40vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
  background-image: url('');
}

.miniatureandcover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1558px)
{
  .miniature {
    height: 30vh !important;
    width: 50vh !important;
  }
  .albumCover {
    height: 30vh !important;
    width: 30vh !important;
  }

  .src {
    width: 160px !important;
    height: 160px;
    position: fixed;
    margin-top: calc((30vh - 160px) / 2);
    margin-left: calc((50vh - 160px) / 2);
  }
}

@media screen and (max-width: 1280px) and (orientation: portrait)
{
  .miniature {
    height: 37vw !important;
    width: 70vw !important;
  }
  .src {
    width: 80px !important;
    height: 80px;
    position: float;
    margin-top: calc((37% - 80px) / 2);
    margin-left: calc((70% - 80px) / 2);
  }
  .albumCover {
    height: 30vw !important;
    width: 30vw !important;
  }
  .typeOfContent {
    font-size: 35pt;
  }
  .presentationIndex {
    display: flex;
    flex-direction: column;
  }
}
.about {
  width: 40vw !important;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  font-family: "Gill Sans", sans-serif !important;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: var(--my-color);
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
}

.space {
  display: block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 60vw !important;
  background-color: var(--color-secondary);
  color: var(--font-color);
  border-radius: 20px;
}
