#preload-01 { background-image: url('../img/miniature/0.png') no-repeat -9999px -9999px; }
#preload-02 { background-image: url('../img/miniature/1.png') no-repeat -9999px -9999px; }
#preload-03 { background-image: url('../img/miniature/2.png') no-repeat -9999px -9999px; }
#preload-04 { background-image: url('../img/miniature/3.png') no-repeat -9999px -9999px; }
#preload-05 { background-image: url('../img/miniature/4.png') no-repeat -9999px -9999px; }
#preload-06 { background-image: url('../img/miniature/5.png') no-repeat -9999px -9999px; }
#preload-07 { background-image: url('../img/miniature/6.png') no-repeat -9999px -9999px; }
#preload-08 { background-image: url('../img/miniature/7.png') no-repeat -9999px -9999px; }
#preload-09 { background-image: url('../img/miniature/8.png') no-repeat -9999px -9999px; }
#preload-10 { background-image: url('../img/miniature/9.png') no-repeat -9999px -9999px; }
#preload-11 { background-image: url('../img/miniature/10.png') no-repeat -9999px -9999px; }
#preload-12 { background-image: url('../img/miniature/11.png') no-repeat -9999px -9999px; }
#preload-13 { background-image: url('../img/miniature/12.png') no-repeat -9999px -9999px; }
#preload-14 { background-image: url('../img/miniature/13.png') no-repeat -9999px -9999px; }
#preload-15 { background-image: url('../img/miniature/14.png') no-repeat -9999px -9999px; }
#preload-16 { background-image: url('../img/miniature/15.png') no-repeat -9999px -9999px; }
#preload-17 { background-image: url('../img/miniature/16.png') no-repeat -9999px -9999px; }

#preload-18 { background-image: url('../img/album cover/Mal_tèt.jpg') no-repeat -9999px -9999px; }
#preload-19 { background-image: url('../img/album cover/Konsyans.jpg') no-repeat -9999px -9999px; }
#preload-20 { background-image: url('../img/album cover/Eritaj.jpg') no-repeat -9999px -9999px; }
#preload-21 { background-image: url('../img/album cover/Misiyon.jpg') no-repeat -9999px -9999px; }
#preload-22 { background-image: url('../img/album cover/Ka Fé Tan.jpg') no-repeat -9999px -9999px; }
#preload-23 { background-image: url('../img/album cover/Kembé Red.jpg') no-repeat -9999px -9999px; }
#preload-24 { background-image: url('../img/album cover/A la repriz.jpg') no-repeat -9999px -9999px; }

.miniature {
  animation: changeMiniature linear 30s infinite;
  animation-delay: -2s;
  height: 40vh !important;
  width: 68vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
  background-image: url('../img/miniature/0.png');
}

.miniatureInv {
  height: 40vh !important;
  width: 68vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
}

#bodyIndex {
  height: 150vh;
}

@keyframes changeMiniature {
  0%,100%  {background-image: url('../img/miniature/0.png');}
  5.88%    {background-image: url('../img/miniature/1.png');}
  11.76%   {background-image: url('../img/miniature/2.png');}
  17.64%   {background-image: url('../img/miniature/3.png');}
  23.52%   {background-image: url('../img/miniature/4.png');}
  29.4%    {background-image: url('../img/miniature/5.png');}
  35.28%   {background-image: url('../img/miniature/6.png');}
  41.16%   {background-image: url('../img/miniature/7.png');}
  47.07%   {background-image: url('../img/miniature/8.png');}
  52.92%   {background-image: url('../img/miniature/9.png');}
  58.8%    {background-image: url('../img/miniature/10.png');}
  64.68%   {background-image: url('../img/miniature/11.png');}
  70.56%   {background-image: url('../img/miniature/12.png');}
  76.44%   {background-image: url('../img/miniature/13.png');}
  82.32%   {background-image: url('../img/miniature/14.png');}
  88.2%    {background-image: url('../img/miniature/15.png');}
  94.08%   {background-image: url('../img/miniature/16.png');}
}

.albumCover {
  animation: changeAlbumCover 10s infinite;
  height: 40vh !important;
  width: 40vh !important;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid var(--my-color);
  color: #FFF;
  background-size: cover;
  background-image: url('../img/album cover/Mal_tèt.jpeg');
}

@keyframes changeAlbumCover {
  0%,100%  {background-image: url('../img/album cover/Mal_tèt.jpg');}
  14.29%  {background-image: url('../img/album cover/Konsyans.jpg');}
  28.57%  {background-image: url('../img/album cover/Eritaj.jpg');}
  42.86%  {background-image: url('../img/album cover/Misiyon.jpg');}
  57.14%  {background-image: url('../img/album cover/Ka Fé Tan.jpg');}
  71.43%  {background-image: url('../img/album cover/Kembé Red.jpg');}
  85.71%  {background-image: url('../img/album cover/A la repriz.jpg');}
}

.miniatureandcover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1558px)
{
  .miniature {
    height: 30vh !important;
    width: 50vh !important;
  }
  .albumCover {
    height: 30vh !important;
    width: 30vh !important;
  }
}

@media screen and (max-width: 1280px) and (orientation: portrait)
{
  .miniature {
    height: 37vw !important;
    width: 70vw !important;
  }
  .albumCover {
    height: 30vw !important;
    width: 30vw !important;
  }
  .typeOfContent {
    font-size: 35pt;
  }
  .presentationIndex {
    display: flex;
    flex-direction: column;
  }
}
.about {
  width: 40vw !important;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  font-family: "Gill Sans", sans-serif !important;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: var(--my-color);
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
}

.space {
  display: block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 60vw !important;
  background-color: var(--color-secondary);
  color: var(--font-color);
  border-radius: 20px;
}
